@import "vars";
$bg: $bg;
$text: $text--button;
$space-between-buttons: 10px;

.toolbar {
  background-color: $well-bg;
  margin-bottom: $space-between-cards;
  min-height: 50px;
  border-radius: $rounded-corner;
  padding: 10px;

  .btn {
    margin-right: $space-between-buttons;
  }
}

.btn-link {
  font-family: $font-stack;
  color: $text--button;
  text-transform: uppercase;
  padding: 10px 15px;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;

  i.pull-left {
    margin-right: 6px;
  }

  i.pull-right {
    margin-left: 6px;
  }

  &:hover, &:focus {
    text-decoration: none;
    background-color: darken($bg, 10%);
    color: lighten($text, 10%);
  }
}