@import "vars";

.modal-backdrop.show {
  opacity: .7;
}

%section-title {
  @include text-dark;
  font-size: 1em;
  text-transform: uppercase;
}

.card-modal {
  max-width: 1200px;
  font-family: $font-stack;
  color: $text--default;

  .modal-content {
    border-radius: $slightlyrounded-corner + 2;

    button.close {
      padding: 18px 16px;
      font-size: 32px;
    }
  }

  &__header {
    @include bg-dark;
    $num-width: 40px;
    padding: 10px 20px 5px;
    border-radius: $slightlyrounded-corner $slightlyrounded-corner 0 0;

    &__id {
      position: absolute;
      left: 15px;
      font-size: 1.5em;
      width: $num-width;
      height: $num-width;
    }

    &__title {
      color: $text--white;
      margin-left: $num-width + 10px;
    }

    &__cat {
      @include bg-mid;
      @include text-dark;
      font-size: 1.25em;
      font-weight: $font-weight--cat;
      border-radius: 25px;
      padding: 0 15px;
      margin-left: 18px;
    }
  }

  h4 {
    font-size: 14px;
  }

  &__body {
    $section-padding: 10px 15px;
    padding-top: 0;
    padding-bottom: 0;

    h3 {
      @extend %section-title;
    }

    &__side-panel {
      @include bg-light;
      border-radius: 0 0 0 $slightlyrounded-corner;
      padding: 0;

      &__img {
        @include bg-light;
        background-size: 80%;
        background-position: center center;
        background-repeat: no-repeat;
        height: 200px;
      }

      &__title {
        @include bg-mid;
        @include text-dark;
        padding: $section-padding;
        margin-top: -1px;

        h3 {
          margin-bottom: 0;
        }
      }

      &__comparison {
        padding: $section-padding;
        font-size: 22px;
      }

      &__related {
        padding: $section-padding;
      }
    }

    &__details {
      max-height: 600px;
      overflow-y: scroll;
      padding: $section-padding;

      &__section {
        padding: $section-padding;
        margin-bottom: 8px;

        p {
          margin-bottom: 0;
        }

        &__questions {
          h3 {
            @include text-light;
            text-align: center;
          }
          @include bg-dark;
          padding: $section-padding;
          border-radius: $slightlyrounded-corner;
          color: $text--white;
          white-space: pre-line;
        }
      }
    }
  }

}