@import "vars";

$card-height: 336px;
$card-width: 240px;
$card-shadow: 3px 4px 0px -1px rgba(70, 74, 80, 0.15);
$card-corner: $slightlyrounded-corner;
$number-width: 28px;
$header-height: 45px;
$cat-width: $header-height;
$body-height: $card-height - $header-height;
$compare-section-height: $body-height * .25;
$img-section-height: $body-height * .35;
$example-section-height: $body-height * .3;

%img-styles {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.principle-title {
  color: $text--white;
  font-size: 18px;
  font-weight: 500;
}

.principle-image {
  @include themed() {
    background-color: t('mid');
  }
  @extend %img-styles;
}

.principle-number {
  margin: 0 auto;
  background-color: $text--white;
  height: $number-width;
  width: $number-width;
  font-size: 18px;
  font-weight: bold;
  border-radius: 50%;
  text-align: center;
  box-shadow: $card-shadow;

  @include themed() {
    color: t('dark');
  }
}

.cards {
  padding: $space-between-cards;
  max-width: ($card-width * 5) + ($space-between-cards * 6);
  margin: 0 auto;
}

.card-container {
  max-width: ($space-between-cards + $card-width);
}

.card {
  background: transparent;
  font-family: $font-stack;
  height: $card-height;
  min-height: $card-height;
  width: $card-width;
  min-width: $card-width;
  border-radius: $card-corner;
  margin-bottom: $space-between-cards;
  border: none;

  &__face {
    border-radius: $card-corner;
    background: $card-bg;
    box-shadow: $card-shadow;

    &--front {
      &__header {
        $space-between-num-and-title: 8px;
        border-radius: $card-corner $card-corner 0 0;
        padding: 7px 0 7px 10px;
        height: $header-height;
        max-height: $header-height;
        white-space: nowrap;
        cursor: pointer;

        @include bg-dark();

        &:hover {
          @include themed() {
            background-color: darken(t('dark'), 5%);
          }

          .btn {
            @include themed() {
              background-color: darken(t('dark'), 12%);
            }
          }
        }

        .principle-title {
          display: inline-block;
          width: calc(100% - #{$number-width} - #{$space-between-num-and-title} - 23);
          @extend %text-overflow-ellipsis;
          text-align: left;
          max-height: 30px;
          margin-left: ($number-width + $space-between-num-and-title);
          white-space: nowrap!important;
        }

        .principle-number {
          display: inline-block;
          position: absolute;
        }

        &__open-link {
          position: absolute;
          right: 1px;
          top: 4px;
          padding: 2px 5px;
          color: $text--white;
          border-radius: 20px;

          &:hover {
            color: $text--white;
            @include themed() {
              background-color: darken(t('dark'), 5%);
            }
          }
        }
      }

      &__category {
        display: flex;
        width: $cat-width;
        height: ($card-height - $header-height);
        border-radius: 0 0 0 $card-corner;
        z-index: 0;
        @include bg-mid();
        @include text-dark();

        &__text {
          position: absolute;
          width: ($card-height - $header-height);
          left: (-1 * ($card-height - $header-height - 35px));
          top: 30px;
          text-align: right;
          font-weight: $font-weight--cat;
          -moz-transform: rotate(270deg);  /* FF3.5+ */
          -o-transform: rotate(270deg);  /* Opera 10.5 */
          -webkit-transform: rotate(-90deg);  /* Saf3.1+, Chrome */
          -moz-transform-origin: 100% 100%;
          -o-transform-origin: 100% 100%;
          -webkit-transform-origin: 100% 100%;
          z-index: 10;
          font-size: $font-size--cat;
        }
      }

      &__body {
        width: calc(100% - #{$cat-width});
        height: $body-height;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        float: right;
        position: absolute;
        top: $header-height;
        left: $cat-width;
        overflow: hidden;

        %display-props {
          display: inline-block;
          width: 100%;
          min-width: 100%;
          margin: 0;
          font-size: 14px;
          color: $text--card;
          padding: 10px;
          line-height: 1.4;
          font-weight: 400;
          @extend %text-overflow-ellipsis;
        }

        &__comparison {
          height: $compare-section-height;
          @extend %display-props;
        }

        &__image {
          height: $img-section-height;
          margin: -10px 0!important;
          @extend %display-props;
          @extend %img-styles;
          @include bg-light();
          background-size: 75%;
          padding: 0;
        }

        &__example {
          height: $example-section-height;
          max-height: $example-section-height;
          border-radius: 0 0 $card-corner 0;
          @extend %display-props;
        }

      }
    }

    &--back {
      display: block;
      min-height: $card-height;
      min-width: $card-width;
      color: $text--white;

      @include bg-dark();

      &__content {
        margin-top: 50px;

        .principle-image {
          position: relative;
          z-index: 0;
          $size: #{$card-width * .65};
          height: $size;
          width: $size;
          margin: -15px auto 0;

          @extend %img-styles;
        }

        .principle-number {
          position: relative;
          z-index: 10;
        }

        .principle-title {
          margin-top: 3px;
          text-align: center;
        }
      }

      &__category {
        text-align: center;
        position: absolute;
        bottom: 6px;
        width: 100%;
        font-size: 14px;

        @include themed() {
          color: t('mid');
        }
      }
    }
  }

}