@import "vars";

$height: 336px;
$width: 240px;
$card-shadow: 0 2px 4px 0 rgba(0,0,0,0.13);
$card-corner: 13px;

.card {
  height: $height;
  min-height: $height;
  width: $width;
  min-width: $width;
  background: $card-bg;
  box-shadow: $card-shadow;
  border-radius: $card-corner;
  margin-bottom: $space-between-cards;

  &__face {
    border-radius: $card-corner;

    &--front {
      &__header {
        border-radius: $card-corner $card-corner 0 0;
        height: 45px;
        @include themed() {
          background: t('dark');
        }

        .principle-number {
          position: absolute;
        }
      }
    }

    &--back {
      display: block;
      min-height: $height;
      min-width: $width;
      color: $text--white;

      @include themed() {
        background: t('dark');
      }

      &__content {
        margin-top: 50px;

        .principle-image {
          position: relative;
          z-index: 0;
          $size: #{$width * .65};
          height: $size;
          width: $size;
          margin: -15px auto 0;
        }

        .principle-number {
          position: relative;
          z-index: 10;
        }

        .principle-title {
          margin-top: 3px;
        }
      }

      &__category {
        text-align: center;
        position: absolute;
        bottom: 6px;
        width: 100%;
        font-size: 14px;

        @include themed() {
          color: t('mid');
        }
      }
    }
  }

}

.principle-title {
  color: $text--white;
  font-size: 18px;
  text-align: center;
  font-weight: 500;
}

.principle-image {
  @include themed() {
    background: t('mid');
  }
}

.principle-number {
  margin: 0 auto;
  background-color: $text--white;
  height: 28px;
  width: 28px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 50%;
  text-align: center;
  box-shadow: $card-shadow;

  @include themed() {
    color: t('dark');
  }
}