.card-modal {
  $summary-width: 37%;
  max-width: 1000px;

  .modal-content {
    border-radius: $rounded-corner;
  }

  &__header {
    @include bg-dark;
    $num-width: 40px;
    $cat-container-width: 250px;
    $cat-container-height: 40px;
    
    padding: 10px 20px 5px; // top right bottom left
    border-radius: $rounded-corner $rounded-corner 0 0;
    vertical-align: center;

    &__id {
      position: absolute;
      left: 15px;
      font-size: 28px;
      width: $num-width;
      height: $num-width;
    }

    &__title {
      color: $text--white;
      margin-left: $num-width + 10px;
    }

    &__category {
      @include bg-mid;
      @include text-dark;
      border-radius: 20px;
      height: $cat-container-height;
      line-height: $cat-container-height;
      margin-left: 15px;
      position: relative;
      font-size: 20px;
      text-align: center;
      padding-left: 20px;
      padding-right: 20px;
      
    }
  }

  &__summary {
    @include bg-light;
    width: $summary-width;
    margin-top: -16px;
    margin-left: -1px;
    margin-bottom: -16px;
    border-bottom-left-radius: $rounded-corner
  }

  &__details {
    width: 100%-$summary-width;
    height: 100%;
    padding-right: 15px;
    padding-left: 15px;
    overflow: scroll;
  }

  h3 {
    @include text-dark;
    font-size: 16px;
    text-transform: uppercase;
  }

  h4 {
    font-size: 14px;
  }

}