@import "vars";

//themes
$themes: (
        1: (
                dark: $cat1--dark,
                mid: $cat1--mid,
                light: $cat1--light
        ),
        2: (
                dark: $cat2--dark,
                mid: $cat2--mid,
                light: $cat2--light
        ),
        3: (
                dark: $cat3--dark,
                mid: $cat3--mid,
                light: $cat3--light
        )
);

@mixin themed() {
  @each $theme, $map in $themes {
    .card--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}

@mixin bg-dark() {
  @include themed() {
    background: t('dark');
    background-color: t('dark');
  }
}

@mixin bg-mid() {
  @include themed() {
    background: t('mid');
    background-color: t('mid');
  }
}

@mixin bg-light() {
  @include themed() {
    background: t('light');
    background-color: t('light');
  }
}

@mixin text-dark() {
  @include themed() {
    color: t('dark');
  }
}

@mixin text-mid() {
  @include themed() {
    color: t('mid');
  }
}

@mixin text-light() {
  @include themed() {
    color: t('light');
  }
}