//type
$font-stack: 'Roboto',"Segoe UI","Helvetica Neue",-apple-system,BlinkMacSystemFont,Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

//color
$navy: #191C28;
$card-bg: #fff;
$text--white: #fff;
$text--card: #585858;
$text--default: #4A4A4A;
$text--button: $navy;
$bg: #E7E6E6;
$well-bg: darken($bg, 7%);

$cat1--dark: #DF6D4D;
$cat1--mid: #F0BBAC;
$cat1--light: #F4E6E2;
$cat2--dark: #5EA67D;
$cat2--mid: #B2DBB8;
$cat2--light: #DBF5DF;
$cat3--dark: #379A99;
$cat3--mid: #AFDFDE;
$cat3--light: #DEF4F3;

//spacing
$space-between-cards: 30px;

%text-overflow-ellipsis {
  white-space: pre-line;
  overflow: hidden;
  text-overflow: ellipsis;
}

$rounded-corner: 13px;