//type
$font-stack: 'Roboto',"Segoe UI","Helvetica Neue",-apple-system,BlinkMacSystemFont,Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
$font-weight--cat: 500;
$font-size--cat: 18px;

//color
$navy: #2a2e3e;
$card-bg: #fff;
$text--white: #fff;
$text--card: #585858;
$text--default: #4A4A4A;
$text--button: $navy;
$beige: #e5e8ef;
$bg: $beige;
$well-bg: darken($bg, 6%);

$cat1: #DF6D4D;
$cat2: #5EA67D;
$cat3: #379A99;

$cat1--text: darken($cat1, 10%);
$cat1--mid: lighten($cat1, 20%);
$cat1--light: lighten($cat1--mid, 13%);
$cat2--text: darken($cat2, 10%);
$cat2--mid: lighten($cat2, 30%);
$cat2--light: lighten($cat2--mid, 13%);
$cat3--text: darken($cat3, 10%);
$cat3--mid: lighten($cat3, 35%);
$cat3--light: lighten($cat3--mid, 16%);

//shadows
$card-shadow: 3px 4px 0px -1px rgba(70, 74, 80, 0.15);
$default-shadow: 1px 1px 0px 2px rgba(70, 74, 80, 0.15);

//spacing
$space-between-cards: 30px;

%text-overflow-ellipsis {
  white-space: pre-line;
  overflow: hidden;
  text-overflow: ellipsis;
}

$rounded-corner: 13px;
$slightlyrounded-corner: 8px;
$barelyrounded-corner: 3px;